---
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 150
TabWidth: 2
UseTab: Never
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Always
---
